{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans %}Restablecimiento de Contraseña{% endblocktrans %}</title>
</head>
<body>

    <h2>{% blocktrans %}Restablecer Contraseña{% endblocktrans %}</h2>
    <p>{% blocktrans %}Hemos recibido una solicitud para restablecer la contraseña de tu cuenta. Por favor, sigue el enlace de abajo para continuar:{% endblocktrans %}</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {% blocktrans %}Restablecer Contraseña{% endblocktrans %}
    </a>

    <p>{% blocktrans %}Si no has solicitado este restablecimiento, puedes ignorar este mensaje.{% endblocktrans %}</p>

</body>
</html>
