{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="lista_overflsow">
    <div class="categoria">
        <h1 style="font-size: 20pt;">Lista categoria</h1>
        <form method="get">
            {% csrf_token %}
            {% for p in prod %}
            {% ifchanged p.cat_producto.categoria %}      
                <ul name="categoria" id="search_categoria_venta" class="lista_cat">          
                    <li> 
                        <button type="button" class="categoria-btn" data-id="{{ p.cat_producto.id }}" data-nombre="{{ p.cat_producto.categoria }}">
                            {{ p.cat_producto.categoria }}
                          </button>
                    </li>
                    <br>
                </ul>
                {%endifchanged%}  
            {% endfor %}
        </form>
    </div>
    <div class="productos">
        <div id="resultado-categoria"></div>
    </div>
</div>

<script>
    $('.categoria-btn').on('click', function() {
        // Obtener la ID de la categoría del producto y el nombre de la categoría del atributo data del botón
        var categoriaId = $(this).data('id');
        var categoriaNombre = $(this).data('nombre');
        
        // Cargar los productos de la categoría seleccionada en el div resultado-categoria
        $.ajax({
            url: '/productos/categoria/' + categoriaId + '/',
            type: 'get',
            dataType: 'json',
            success: function(response) {
                var productosHTML = '';
                for (var i=0; i<response.productos.length; i++) {
                    var producto = response.productos[i];
                    productosHTML += '<div class="producto">' +
                        '<h3>' + producto.descripcion + '</h3>' +
                        '<p>' + producto.precio + '</p>' +
                        '</div>';
                }
                $('#resultado-categoria').html(productosHTML);
            },
            error: function(xhr) {
                console.log(xhr.statusText);
            }
        });
    });
</script>


{% endblock %}
