{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- Renderiza la tabla -->
<link rel="stylesheet" href="{% static 'css/style_venta.css' %}">
<div class="lista_overflsow">
    <div class="categoria">
        <h1 style="font-size: 20pt;">Lista categoria</h1>
        {% for p in prod %}
        <ul name="categoria" id="search_categoria_venta" class="lista_cat">          
                {% ifchanged p.cat_producto.categoria %}                 
                    <li><a style="background-color: #000;" href="{% url 'productosPorCategoria' p.cat_producto.id %}" value="">{{ p.cat_producto.categoria }}</a></li>
                    <br>
                {% endifchanged %}
        </ul>
        {% endfor %}
    </div>
</div>

{% if productos %}
<div class="productos">
    <h1 style="font-size: 20pt;">{{ categoria }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio pequeño</th>
                <th>Precio mediano</th>
                <th>Precio grande</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio_p }}</td>
                <td>{{ producto.precio_m }}</td>
                <td>{{ producto.precio_g }}</td>
                <td>
                    <button>Editar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
